apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: observability-kube-prometheus-stack
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: ">=69.0.0 <70.0.0"
    helm:
      values: |
        kubeEtcd:
          enabled: false
        kubeControllerManager:
          enabled: false
        kubeScheduler:
          enabled: false
        prometheusOperator:
          tls:
            enabled: false
          admissionWebhooks:
            enabled: false
            patch:
              enabled: false
        grafana:
          persistence:
            enabled: true
            storageClassName: local-path
            accessModes:
              - ReadWriteOnce
            size: 10Gi
          ingress:
            enabled: true
            ingressClassName: traefik-talos
            annotations:
              traefik.ingress.kubernetes.io/router.entrypoints: websecure
              traefik.ingress.kubernetes.io/router.tls: "true"
              traefik.ingress.kubernetes.io/router.tls.certresolver: cfalcachofa
            hosts:
              - grafana.talos.alcachofa.faith
            tls:
              - hosts:
                  - grafana.talos.alcachofa.faith
          additionalDataSources:
            - name: Loki
              type: loki
              access: proxy
              url: http://observability-loki-gateway.observability-talos.svc.cluster.local
              isDefault: false
        prometheus:
          prometheusSpec:
            securityContext:
              runAsNonRoot: false
              runAsUser: 0
              runAsGroup: 0
              fsGroup: 0
            retention: 7d
            storageSpec:
              volumeClaimTemplate:
                spec:
                  storageClassName: local-path
                  accessModes:
                    - ReadWriteOnce
                  resources:
                    requests:
                      storage: 20Gi
        alertmanager:
          alertmanagerSpec:
            storage:
              volumeClaimTemplate:
                spec:
                  storageClassName: local-path
                  accessModes:
                    - ReadWriteOnce
                  resources:
                    requests:
                      storage: 5Gi
  destination:
    server: https://kubernetes.default.svc
    namespace: observability-talos
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
