source_bw_clientid: "user.xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
source_bw_clientsecret: "source-api-key-client-secret"
source_bw_master_password: "source-master-password"
dest_bw_clientid: "user.xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
dest_bw_clientsecret: "destination-api-key-client-secret"
dest_bw_master_password: "destination-master-password"
